<% layout('./layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/mystery.css">

<!-- The Modal -->
<div id="hauntrip-modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="headerTitle">...</h4>
            <span class="close">&times;</span>
        </div>
        <div id="modal-content-inner">
        <p>...</p>
      </div>
    </div>
</div>

<div class="main">
    <div class="side-menu">
        <h3 class="side-title">Admin actions</h3>
        <div class="side-buttons">
            <a class="search-button" href="/adminpanel/all">View all reports</a>
            <a class="search-button" href="/adminpanel/user">Reported users</a>
            <a class="search-button" href="/adminpanel/mystery">Reported mysteries</a>
            <a class="search-button" href="/adminpanel/evidence">Reported evidences</a>
            <a class="search-button" href="/adminpanel/banpanel">Search and ban user</a>
        </div>
    </div>
    <div class="main-content">
        <div class="container w-100">
            <h1><%= searchTitle %></h1>
            <div class="mystery-collection">
                <% for (let report of reports){ %>
                        <div style="background-color: white; width: 100%; border-radius: 2px; display: flex; flex-direction: column; margin: 10px; padding:10px;" class="report-container">
                            <h4><%= report.reportType %> report</h4>
                            <a href="/user/<%= report.authorName %>">By <%= report.authorName %></a>
                            <hr>
                            <h5>Report description: </h5>
                            <p><%= report.report %></p>
                            <% if(report.reportType === 'evidence'){ %>
                                <h5>Evidence content: </h5>
                                <p> <%= report.evidenceContent %> </p>
                            <% } %>
                            <hr>
                            <div class="admin-actions-panel" style="display: flex; flex-direction: row; width: 100%;">
                            <% if(report.reportType === 'evidence' || report.reportType === 'mystery'){ %>
                                <a class="btn btn-sm btn-success" href="<%= report.reportType === 'evidence' ? '/mysteries/'+String(report.mystery) : '/mysteries/'+String(report.reportedElement) %>">See mystery</a>
                            <% } %> 
                            <a class="btn btn-sm btn-success" href="<%='/user/'+report.accusedName %>">See accused profile</a>
                            <button id="dismissReport" onClick="dismissReport('<%= report._id %>')" class="btn btn-sm btn-danger">Dismiss report</button>
                            <% if(report.reportType === 'evidence'){ %>
                                <button id="deleteEvidence" onClick="deleteEvidence('<%= report.reportedElement %>')" class="btn btn-sm btn-danger">Delete evidence</button>
                            <% } %> 
                            </div>     
                        </div>
                <% } %>
            </div>    
            <div class="pagination">
                <% if(currentPage > 1){ %>
                    <a class="paginate-number " href="?page=<%= currentPage-1 %>">&lt;</a>
                <% } %>
                <a class="paginate-number <% if(currentPage === 1){ %> selected-page <% } %>" href="?page=1">1</a>
                <% if(currentPage > 2 && totalPages > 5){ %>
                    <p>...</p>
                <% } var diff = 0 %>
                <% totalPages - currentPage <= 2 ? diff = totalPages - currentPage - 3 : diff = 0 %>
                <% for(a = 0; a < 3; a++){ %>
                    <% if(currentPage + a + diff > 1){ %>
                        <a class="paginate-number <% if(currentPage + a + diff === currentPage){ %> selected-page <% } %>" href="?page=<%= currentPage + a + diff %>"><%= currentPage + a + diff %></a>
                    <% } %>
                <% } %>
                <% if(currentPage + 2 < totalPages - 1){ %>
                    <p>...</p>
                <% } %>
                <% if(currentPage <= totalPages && totalPages > 1){ %>
                    <a class="paginate-number <% if(currentPage === totalPages){ %> selected-page <% } %>" href="?page=<%= totalPages %>"><%= totalPages%></a>
                    <% if(currentPage !== totalPages){ %>
                    <a class="paginate-number" href="?page=<%= currentPage+1 %>">&gt;</a>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById("hauntrip-modal");
    var modalInner = document.getElementById("modal-content-inner");
    var headerTitle = document.getElementById("headerTitle");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    function reportModal(param){
        headerTitle.innerHTML = 'Report Evidence'
        modalInner.innerHTML = `<p> Thanks for your concern. Please, explain the issue and we will investigate it as soon as possible. </p> <form action="/report/evidence/${param[0]}/${param[1]}" method="POST"> <textarea class="form-control" placeholder="Write your report here" type="text" id="report" name="report" maxlength="1000" required></textarea> <button class="btn btn-small btn-primary" type="submit"> Submit </button></form>`
        modal.style.display = "block";
    }

    function reportMysteryModal(param){
        headerTitle.innerHTML = 'Report Mystery'
        modalInner.innerHTML = `<p> Thanks for your concern. Please, explain the issue and we will investigate it as soon as possible. </p> <form action="/report/mystery/${param}" method="POST"> <textarea class="form-control" placeholder="Write your report here" type="text" id="report" name="report" maxlength="1000" required></textarea> <button class="btn btn-small btn-primary" type="submit"> Submit </button></form>`
        modal.style.display = "block";
    }

    function deleteEvidence(param){
        headerTitle.innerHTML = 'Delete Evidence'
        modalInner.innerHTML = `<p> Are you sure you want to delete this evidence? </p> <form action="/adminPanel/evidenceDelete/${param}?_method=DELETE" method="POST"> <button class="btn btn-danger">Delete</button></form>`
        modal.style.display = "block";
    }

    function dismissReport(param){
        headerTitle.innerHTML = 'Dismiss Report'
        modalInner.innerHTML = `<p> Are you sure you want to dismiss this report? </p> <form action="/adminPanel/reportDismiss/${param}?_method=DELETE" method="POST"> <button class="btn btn-danger">Delete</button></form>`
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
    modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    } 

</script>