<% layout('./layouts/boilerplate') %>

<div class="main">
    <div class="side-menu">
        <h3 class="side-title">Search mystery</h3>
        <div class="side-buttons">
            <a class="search-button" href="/mysteries">View map</a>
            <a class="search-button" href="/mysteries/search/spooky">Spookiest</a>
            <a class="search-button" href="/mysteries/search/recent">Most recent</a>
            <a class="search-button" href="/mysteries/search/credible">Most credible</a>
        </div>
    </div>
    <div class="main-content">
        <h1>Map search</h1>
        <div id="cluster-map"></div>
        <div class="container w-100">
            <div class="mystery-collection">
                <% let breaker = 0 %>
                <% for (let mystery of mysteries){ %>
                    <% breaker++ %>
                    <div class="photo-container">
                        <a class="mystery-photo-link" href="/mysteries/<%= mystery._id %>">
                            <div class="mystery-photo">
                                <div class="mystery-photo-img-container" style="background-image: url(<%= mystery.image.url ? mystery.image.url : 'https://res.cloudinary.com/arkeg/image/upload/v1638555012/Hauntrip/General/unavailable-2_plmphn.png' %>)">
                                </div>
                                <div class="mystery-photo-caption">
                                    <h5><%= mystery.title %></h5>
                                    <small class="text-muted">
                                        <%= mystery.location %>
                                    </small>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% if(breaker > 3){ break } %>
                <% } %>
            </div>    
        </div>
    </div>
</div>


<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const mysteries = {features: <%- JSON.stringify(mysteries) %>}
    
</script>
<script src="/js/clusterMap.js"></script>
<script>document.title = 'Mysteries | Hauntrip' </script>