<% layout('./layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">
<link rel="stylesheet" href="/stylesheets/mystery.css">
<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const mystery = <%-JSON.stringify(mystery)%>;
</script>

<!-- The Modal -->
<div id="hauntrip-modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="headerTitle">...</h4>
            <span class="close">&times;</span>
        </div>
        <div id="modal-content-inner">
        <p>...</p>
      </div>
    </div>
</div>

<div class="mystery-block">
    <div class="mystery-summary">
        <div class="mystery-summary-data">
            <h3>Summary</h3>
            <hr>
            <div class="summary-item">
                <h5> Spookiness: </h5>
                <span>
                    <% for(let a=1; a<=5; a++){ %>
                        <span class="<%= (a <= mystery.spookiness) ? 'star-rated' : 'star-unrated' %>" >&#128123;</span>
                    <% } %>
                </span>
            </div>
            <div class="summary-item">
                <h5>Credibility:</h5> 
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%= mystery.credibility + '%' %>" aria-valuenow="<%= mystery.credibility %>" aria-valuemin="0" aria-valuemax="100"><%= mystery.credibility %></div>
                </div>
            </div>
            <div class="summary-item">
                <h5>Location: </h5>
                <p><%= mystery.location %></p>
                <div id="map"></div>
            </div>
            <div class="summary-item">
                <h5>Created at:</h5>
                <%= mystery.createdAt.getDate() + '/' + (mystery.createdAt.getMonth()+1) + '/' + mystery.createdAt.getFullYear() %>
            </div>
        </div>
    </div>
    <div class="mystery-info">
        <div class="mystery-info-data">
            <h2><%= mystery.title %></h2>
            <p class="author-name">By <a href="/user/<%= mystery.author.username %>"><%= mystery.author.username %></a></p>
            <div class="img-container">
                <img src="<%= mystery.image.url ? mystery.image.url : 'https://res.cloudinary.com/arkeg/image/upload/v1638555012/Hauntrip/General/unavailable-2_plmphn.png' %>" alt="...">
            </div>
            <h4>Description</h4>
            <p class="mystery-body"><%= mystery.description %></p>
                <div class="mystery-author-panel">
                    <% if(currentUser && (mystery.author._id.equals(currentUser._id) || currentUser.isAdmin === true)){ %>
                        <a class="btn btn-success" href="/mysteries/<%= mystery._id %>/edit">Edit Mystery</a>
                        <button onClick="deleteMysteryModal('/mysteries/<%= mystery._id %>?_method=DELETE')" class="btn btn-danger">Delete Mystery</button>
                    <% } %>
                    <button onClick="reportMysteryModal('<%= mystery._id %>')" class="transparent-btn" style="margin: 0;"><i class="fa fa-flag-o" aria-hidden="true"></i></button>  
                </div>
        </div>
        <hr>
        <div class="evidence-block">
            <div class="user-block">
                <div class="spookiness-block">
                    <h6>Was it scary? Rate it!</h6>
                    <div class="mb-3">
                        <form action="/mysteries/<%= mystery._id %>/rating" class="star-form" method="POST">
                            <% if(currentUser){ %>
                                <% for(let a=5; a>0; a--){ %>
                                <button type="submit" name="spookiness" value="<%= a %>" class="<% if(a <= userSpookinessValue){%>voted<%}%>" >&#128123;</button>
                                <% } %>
                            <% } else{ %>
                                <% for(let a=5; a>0; a--){ %>
                                    <button type="submit" name="spookiness" value="<%= a %>" >&#128123;</button>
                                    <% } %>
                            <% } %>
                        </form>
                    </div>  
                </div>    
                <div class="post-evidence">
                    <h6>Do you know something about this mystery? Leave some evidence!</h6>
                    <a class="btn btn-primary" href="/mysteries/<%= mystery._id %>/newevidence">Post evidence</a>
                </div>
            </div>    
           
            <div id="evidences-container">
                <h3>Evidences</h3>
                <hr>
                <% for (let evidence of mystery.evidences){ %>
                    <div class="single-evidence <% if(evidence.helpfulness >= 5){ %> helpful <% } %>">        
                            <h4 class="evidence-title"><%= evidence.title %></h4>
                            <h6 class="author-name">By <a href="/user/<%= evidence.author.username %>"><%= evidence.author.username %></a></h6>
                            <p>Conclusion: <%= evidence.conclusion.charAt(0).toUpperCase() + evidence.conclusion.slice(1) %></p>
                            <p class="evidence-body">Evidence: <%= evidence.body %></p>
                            <div class="evidence-img-container">
                                <% for (let evidenceImg of evidence.images){ %>
                                    <a class="evidence-thumbnail" href="<%= evidenceImg.url %>" target="_blank">
                                        <img class="img-thumbnail" src="<%= evidenceImg.url %>">
                                    </a>
                                <% } %>
                            </div>
                            <div class="evidence-panel">
                                <div class="evidence-upvote">
                                    <form action="/mysteries/<%= mystery._id %>/evidences/<%= evidence._id %>"  method="POST">
                                        <button type="submit" name="helpfulness" value="1" class="upvote-arrow"></button>
                                    </form>
                                    <span class="vote-counter"><%= evidence.helpfulness %></span>
                                    <form action="/mysteries/<%= mystery._id %>/evidences/<%= evidence._id %>" method="POST">
                                        <button type="submit" name="helpfulness" value="-1" class="downvote-arrow"></button>
                                    </form>
                                </div>
                                <div class="evidence-report">
                                    <button onClick="reportModal('<%= evidence._id %>')" class="transparent-btn"><i class="fa fa-flag-o" aria-hidden="true"></i></button>  
                                    <% if(currentUser && (evidence.author.equals(currentUser._id) || currentUser.isAdmin === true)){ %>
                                    <button onClick="deleteEvidenceModal('/mysteries/<%= mystery._id %>/evidences/<%= evidence._id %>?_method=DELETE')" class="transparent-btn"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    <% } %>
                                </div>
                            </div>
                            <% if(evidence.helpfulness >= 5){ %> 
                                <p class="helpfulMsg">This evidence is considered Helpful!</p> 
                            <% } %>
                            <p class="evidence-date"><%= evidence.createdAt.getDate() + '/' + (evidence.createdAt.getMonth()+1) + '/' + evidence.createdAt.getFullYear() %></p> 
                    </div>
                <% } %>
            </div>
            <% if(mystery.evidences.length < 1){ %>
                <p class="loadButton">This mystery has no evidences yet.</p>
            <% } else{ %>
                <button id="loadEvidences" class="btn btn-lg btn-primary loadButton">Load more</button>
            <% } %>
        </div>
    </div>
</div>

<script src="/js/pageMap.js"></script>
<script src="/js/loader.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/helpfulness.js"></script>