<% layout('./layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/user.css">

<!-- The Modal -->
<div id="hauntrip-modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h4 id="headerTitle">...</h4>
            <span class="close">&times;</span>
        </div>
        <div id="modal-content-inner">
        <p>...</p>
      </div>
    </div>
</div>

<div class="user-section">
    <div class="user-panel">
        <h3><%= userData.username %></h3>
        <hr>
        <p class="user-data" >Experience: </p>
        <div class="progress position-relative">
            <div id="exp-bar" class="progress-bar bg-primary" role="progressbar" style="width: 50px" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"><%= userData.exp %></div>
        </div>
        <p class="user-data">Rank:</p> <p id="rank-title">Newbie</p>
        <p class="user-data">Member since: </p> <p> <%= userData.createdAt ? (userData.createdAt.getFullYear() + '/' + (userData.createdAt.getMonth()+1) + '/' + userData.createdAt.getDate()) : 'Not known'; %></p>
        <div class="user-actions">
            <button id="reportButton" class="btn btn-sm btn-danger user-button" onClick="reportUserModal('<%= userData.username %>')">Report user</button>
            <% if(currentUser){ %>
                <% if(currentUser.username === userData.username) { %> 
                    <button id="deleteButton" class="btn btn-sm btn-danger user-button" onClick="deleteUserModal('<%= userData.username %>')">Delete account</button> 
                    <a href="/user/<%= userData.username %>/passwordchange" class="btn btn-sm btn-primary user-button">Change password</a> 
                <% } %>
                <% if(userData.status !== 'active' && currentUser.username === userData.username) { %> <a id="confirmEmail" href="/resend" class="btn btn-sm btn-primary user-button">Resend confirmation email</a> <% } %>
            <% } %>
        </div>
    </div>

    <div class="user-mystery-section">
        <h3><%= userData.username %>'s Mysteries</h3>
        <p><%= (userMysteries.length < 1) ? 'This user has not posted any mystery yet' : '' %></p>
        <div id="user-mysteries" class="user-mysteries">
            <% for(let mystery of userMysteries){ %>
                <a href="/mysteries/<%= mystery._id %>" class="single-mystery">
                    <img style="width:100px; height: 100px;" src="<%= mystery.image.url ? mystery.image.url : 'https://res.cloudinary.com/arkeg/image/upload/v1638555012/Hauntrip/General/unavailable-2_plmphn.png' %>" alt="">
                    <p><%= mystery.title %></p>
                </a>
            <% } %>
        </div>
        <% if(userMysteries.length >= 10){%>
        <div class="loadButton">
            <button id="loadMysteries" class="btn btn-lg btn-primary loadButton">Load more</button>
        </div>
        <% } %>
    </div>
</div>

<script src="/js/modalUser.js"></script>
<script src="/js/user.js"></script>
<script>expRender(<%= userData.exp %>)</script>
<script>document.title = '<%= userData.username %> profile | Hauntrip' </script>